<div class="aside">
    <div class="container">
        <div class="profile">
            <div class="imgBx">
                <span class="material-icons">
                    account_circle
                </span>
            </div>
            <p>Sebastian Garzon Arias</p>
        </div>
        <ul class="listOptions">
            <li>
                <div>
                    <span class="material-icons">
                        manage_accounts
                    </span>
                    <p>Perfil</p>
                </div>
            </li>
            <li>
                <div>
                    <span class="material-icons">
                        paid
                    </span>
                    <p>Gastos</p>
                </div>
            </li>
            <li>
                <div>
                    <span class="material-icons">
                        credit_card
                    </span>
                    <p>Gustos</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <span class="material-icons">settings</span>
        <span class="material-icons-round" id="toggleAside"></span>
    </div>
</div>
